#logo {
	width: 269px;
	height: 95px;
	padding-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

#google {
	width: 269px;
	height: 95px;
}

#sd {
	width: 486px;
	height: 30px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}


#search {
	width: 486px;
	height: 30px;

}
